.projects .project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .projects .project {
    background-color: rgb(255, 159, 159);
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .projects .project h3 {
    margin-top: 0;
  }
  
  .projects .project p {
    margin-bottom: 0;
  }
  